.app {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    height: 100vh;
    grid-gap: 0 1rem;
}



.header {
    grid-area: header;
    background-color: #333;
    color: white;
    padding: 1rem;
}

.main {
    grid-area: main;
    padding: 1rem;
}

.footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    z-index: 1000;
    /* Asegúrate de que esté encima del contenido principal */
}

.sidebar.hidden {
    transform: translateX(-100%);
}

.sidebar.visible {
    transform: translateX(0);
}

@media (min-width: 768px) {
    .app {
        grid-template-areas:
            "header"
            "navbar"
            "main"
            "footer";
    }
}